[submodule ".registry"]
	path = .registry
	url = https://github.com/oldschoolcool2/oldschoolcool2.r-universe.dev
	branch = HEAD
[submodule "tters"]
	path = tters
	url = https://github.com/oldschoolcool2/rust-tte
	branch = main
	subdir = bindings/tters
